<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :one, style: "display: block" %>
    <%= form.text_field :one %>
  </div>

  <div>
    <%= form.label :two, style: "display: block" %>
    <%= form.text_field :two %>
  </div>

  <div>
    <%= form.label :three, style: "display: block" %>
    <%= form.text_field :three %>
  </div>

  <div>
    <%= form.label :episode_id, style: "display: block" %>
    <%= form.text_field :episode_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
